body {
    background: #666362;
}

::selection {
    color: white;
    background: blue;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}

.start_btn {
    cursor: pointer;
}

.start_btn_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_btn_container button {
    width: 50%;
    padding: 10px 0 10px 0;
    margin: 5px;
    border-radius: 13px;
    transition: all 0.3s ease;
    font-family: 'Roboto Slab', serif;
}

.start_btn_container button:hover {
    letter-spacing: 1px;
    text-decoration: underline;
    transition: all 0.3s ease;
    font-family: 'Roboto Slab', serif;
}

.welcome_title {
    padding-bottom: 20px;
    font-size: 35px;
    white-space: nowrap;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

.info_box {
    width: 540px;
    opacity: 0;
    pointer-events: none;
    transition: all 0, 3s ease;
    background: white;
    border-radius: 10px;
}

.info_box .info-title {
    height: 3.75rem;
    width: 100%;
    display: flex;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    text-decoration: underline;
}

.info_box .infolist {
    padding: 15px 30px;
    font-family: 'Roboto Slab', serif;
}

.info_box .infolist .info {
    margin: 5px 0;
    font-size: 15px;
}

.info_box .buttons {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    transition: all 0.3s ease;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 2.5rem;
    width: 6.25rem;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 0 10px 0;
    margin: 5px;
    border-radius: 13px;
}

.info_box .buttons button:hover {
    letter-spacing: 1px;
    text-decoration: underline;
}

.quiz_box {
    width: 34.375rem;
    background: white;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3 ease;
}

.quiz-header {
    position: relative;
    z-index: 2;
    height: 4.375rem;
    padding: 0 30px;
    background: white;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-header .title {
    text-decoration: underline;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.quiz-header .timer {
    color: #50C878;
    background: white;
    border: 1px solid white;
    height: 2.813rem;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.063rem;
}

.quiz-header .timer .time_left_txt {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-header .timer_sec {
    font-size: 18px;
    height: 30px;
    width: 45px;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: grey;
    user-select: none;
}

.disabled {
    pointer-events: none;
}

.enabled {
    pointer-events: auto;
}

section .option_list .option.correct {
    color: #155724;
    background: #d4edda;
    border: 1px solid green;
    transition: all 0.3s ease;
}

section .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 1px solid red;
    transition: all 0.3s ease;
}

section {
    padding: 25px 30px 20px 30px;
    background: white;
}

section .question_text {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

section .option_list {
    display: block;
    padding: 20px 0px;
}

section .option_list .option {
    background: rgb(206, 213, 208);
    border: 1 px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child {
    margin-bottom: 0px;
}

section .option_list .option:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

section .option_list .option.disabled {
    pointer-events: none;
}

.quiz_footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.quiz_footer p:first-child {
    padding-left: 0px;
}

.quiz_footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    background: black;
    border: 1px solid blue;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.r_or_w {
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
    line-height: 10px;
    opacity: 1;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
    width: 8%;
}

.right_txt {
    color: green;
}

.wrong_txt {
    color: red;
}

footer button:hover {
    background: white;
}

.next_btn.working {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.next_btn.disabled {
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
}

footer button .restart_quiz {
    padding-left: 500px;
}

.result_box {
    background: white;
    display: flex;
    padding: 25px 30px;
    width: 28.125rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50% -50%)scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: 'Roboto Slab', serif;
    border-radius: 18px;
}

.result_box .icon {
    font-size: 20px;
    color: #50C878;
    margin-bottom: 10px;
}

.result_box .complete_text {
    font-size: 14px;
    font-weight: 500;
}



.result_box .score_text span {
    display: flex;
    margin: 10px;
    font-size: 8px;
    font-weight: 400;
}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 400;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    height: 45px;
    margin: 0 10px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.result_box .buttons button:hover {
    letter-spacing: 1px;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.buttons button .restart {
    color: white;
    background: green;
}

.buttons button .restart:hover {
    background: grey;
}

.buttons button .quit {
    color: white;
    background: green;
}